/bin/
/target/
/classes/

# Eclipse-specific files
.settings
.classpath
.project

# IntelliJ-specific files
.idea/
RexisQuexis.iml

# cache files
*.json

# python files
python_scripts/*.txt
python_scripts/*.csv
